@import "tailwindcss";

@theme {
  --color-navy: #0F172A;
  --color-gold: #B4935E;
  --color-goldHover: #9C7A4B;
  --color-alabaster: #FAFAFA;
  
  --font-serif: var(--font-playfair);
  --font-sans: var(--font-inter);
}